@import '../../../../theme/mixins';

.claim-card {
  margin-bottom: 0 !important;

  .badge-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }

  .status-message {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
    font-size: 14px;
    background-color: #fce8e9;
    border-radius: 4px;
  }

  ion-list {
    padding: 12px 0;

    ion-item {
      --min-height: 44px;
    }
  }

  @include claim-status;
}
