<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile/user-settings"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list class="ion-padding-start ion-padding-end" lines="full">
            <div class="item-container">
              <ion-item>
                <ion-label position="stacked">Old Password</ion-label>
                <ion-input formControlName="oldPassword" type="password" placeholder="******"></ion-input>
              </ion-item>
            </div>

            <div class="validation-error" *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').hasError('required')">
              Old Password required
            </div>

            <div class="item-container">
              <ion-item>
                <ion-label position="stacked">New Password</ion-label>
                <ion-input formControlName="newPassword" type="password" placeholder="******"></ion-input>
              </ion-item>

              <div class="validation-error" *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('required')">
                New Password required
              </div>

              <div class="validation-error" *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('weak')">
                {{ changePasswordForm.get('newPassword').getError('weak') }}
              </div>
            </div>

            <div class="item-container">
              <ion-item>
                <ion-label position="stacked">New Password Confirmation</ion-label>
                <ion-input formControlName="newPasswordConfirmation" type="password" placeholder="******"></ion-input>
              </ion-item>

              <div class="validation-error" *ngIf="changePasswordForm.get('newPasswordConfirmation').touched && changePasswordForm.get('newPasswordConfirmation').hasError('required')">
                New Password Confirmation required
              </div>

              <div class="validation-error" *ngIf="changePasswordForm.get('newPasswordConfirmation').touched && changePasswordForm.get('newPasswordConfirmation').hasError('mismatch')">
                Passwords mismatch
              </div>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-footer>
        <ion-toolbar>
          <ion-row class="footer">
            <ion-col class="ion-no-padding">
              <ion-button class="ion-padding-start ion-padding-end" expand="block" type="submit">
                Change Password
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </form>
  </ion-grid>
</ion-content>
