:host {
  ion-content {
    --background: var(--ion-background-color);
  }

  ion-grid {
    form {
      min-height: calc(100vh - var(--toolbar-min-height) - env(safe-area-inset-top));
    }

    .footer {
      ion-button {
        margin: 20px 0;
      }
    }
  }
}
