<ion-card class="claim-payments-card">
  <ion-card-header>
    <ion-list lines="none">
      <ion-item>
        <ion-label>Payments</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-header>

  <ion-card-content>
    <ion-list class="claim-payments" lines="none">
      <ion-item>
        <ion-label class="fit-content" color="medium">Amount</ion-label>
        <ion-label class="ion-text-end">$200</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Check Number</ion-label>
        <ion-label class="ion-text-end">#123456</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Claim Date</ion-label>
        <ion-label class="ion-text-end">Feb 20, 2018</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Pay Date</ion-label>
        <ion-label class="ion-text-end">Feb 20, 2019</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="payment-card-item" lines="none">
      <ion-item>
        <ion-label class="fit-content" color="medium">Amount</ion-label>
        <ion-label class="ion-text-end">$200</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Check Number</ion-label>
        <ion-label class="ion-text-end">#123456</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Claim Date</ion-label>
        <ion-label class="ion-text-end">Feb 20, 2018</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="fit-content" color="medium">Pay Date</ion-label>
        <ion-label class="ion-text-end">Feb 20, 2019</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
