ion-item {
  &.ios {
    .forgot-password {
      z-index: 101;
      position: absolute;
      top: 0;
      right: 8px;
      margin: 10px 8px 4px 0;
      pointer-events: unset;
      outline: none;
    }
  }

  &.md {
    .forgot-password {
      z-index: 101;
      position: absolute;
      top: 0;
      right: -26px;
      color: inherit;
      pointer-events: unset;
      outline: none;
    }
  }
}
