<ion-header>
  <ion-toolbar>
    <ion-title>
      Forgot Password
    </ion-title>

    <ion-buttons *ngIf="currentSlide !== 1" slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null)">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <form [formGroup]="forgotPasswordForm">
      <ion-row>
        <ion-col class="ion-no-padding" [ngSwitch]="currentSlide">
          <div class="header-navigation" *ngSwitchCase="1">
            <ion-text class="ion-padding-start ion-padding-end">
              Enter your email and we will send a verification code to reset your password.
            </ion-text>
          </div>

          <div class="header-navigation" *ngSwitchCase="2">
            <ion-text class="ion-padding-start ion-padding-end">
              Enter verification code sent to <span class="bold">{{ firstStep.get('email').value }}</span>.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-slides [options]="slidesOptions">
            <ion-slide formGroupName="firstStep">
              <ion-list class="ion-padding-start ion-padding-end" lines="full">
                <div class="item-container">
                  <ion-item>
                    <ion-label position="stacked">Email</ion-label>
                    <ion-input formControlName="email" type="text" placeholder="member@domain.com"></ion-input>
                  </ion-item>

                  <div class="validation-error" *ngIf="firstStep.get('email').touched && firstStep.get('email').hasError('required')">
                    Email required
                  </div>

                  <div class="validation-error" *ngIf="firstStep.get('email').touched && firstStep.get('email').hasError('email')">
                    Invalid Email format
                  </div>
                </div>
              </ion-list>
            </ion-slide>

            <ion-slide formGroupName="secondStep">
              <ion-list class="ion-padding-start ion-padding-end" lines="full">
                <div class="item-container ion-no-margin">
                  <ion-item>
                    <ion-label position="stacked">Verification Code</ion-label>
                    <ion-input formControlName="verificationCode" type="text" placeholder="123456"></ion-input>
                  </ion-item>

                  <div class="validation-error" *ngIf="secondStep.get('verificationCode').touched && secondStep.get('verificationCode').hasError('required')">
                    Verification Code required
                  </div>
                </div>

                <div class="item-container">
                  <ion-item>
                    <ion-label position="stacked">New Password</ion-label>
                    <ion-input formControlName="newPassword" type="password" placeholder="******"></ion-input>
                  </ion-item>

                  <div class="validation-error" *ngIf="secondStep.get('newPassword').touched && secondStep.get('newPassword').hasError('required')">
                    New Password required
                  </div>

                  <div class="validation-error" *ngIf="secondStep.get('newPassword').touched && secondStep.get('newPassword').hasError('weak')">
                    {{ secondStep.get('newPassword').getError('weak') }}
                  </div>
                </div>

                <div class="item-container">
                  <ion-item>
                    <ion-label position="stacked">New Password Confirmation</ion-label>
                    <ion-input formControlName="newPasswordConfirmation" type="password" placeholder="******"></ion-input>
                  </ion-item>

                  <div class="validation-error" *ngIf="secondStep.get('newPasswordConfirmation').touched && secondStep.get('newPasswordConfirmation').hasError('required')">
                    New Password Confirmation required
                  </div>

                  <div class="validation-error" *ngIf="secondStep.get('newPasswordConfirmation').touched && secondStep.get('newPasswordConfirmation').hasError('mismatch')">
                    Passwords mismatch
                  </div>
                </div>
              </ion-list>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>

      <ion-footer>
        <ion-toolbar>
          <ion-row class="footer">
            <ion-col class="ion-no-padding" [ngSwitch]="currentSlide">
              <div *ngSwitchCase="1">
                <ion-button (click)="sendVerificationCode()" class="ion-padding-start ion-padding-end" expand="block">
                  Request Verification Code
                </ion-button>
              </div>

              <div *ngSwitchCase="2">
                <ion-button (click)="resetPassword()" class="ion-padding-start ion-padding-end" expand="block">
                  Reset Password
                </ion-button>

                <a class="footer__link" (click)="sendVerificationCode({ resend: true })">Resend Verification Code</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </form>
  </ion-grid>
</ion-content>
